<h1>Contacts</h1>

<mat-select (selectionChange)="onSelectionChange($event)">
  <mat-option [value]="undefined">All</mat-option>
  <mat-option 
    *ngFor="let company of companies$ | async"
    [value]="company.id"
  >
    {{ company.name }}
  </mat-option>
</mat-select>

<mat-card 
*ngFor="let contact of contacts$ | async" 
fxLayout="row" 
fxLayoutAlign="space-between center" >
  <span>{{ contact.name }}</span>
  <button mat-button [routerLink]="['/contact', contact.id]">Edit</button>
</mat-card>
<button mat-fab [routerLink]="['/contact/new']"><mat-icon>add</mat-icon></button>
