<h1>Contact Edit</h1>
<mat-card *ngIf="contact$ | async as contact">
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="contact.name">
  </mat-form-field>
  <mat-card-actions align="end">
    <button *ngIf="id === 'new'" mat-raised-button color="primary" (click)="saveContact(contact)">Save (set)</button>
    <button *ngIf="id !== 'new'" mat-raised-button (click)="editContact(contact)">Edit (update)</button>
    <button mat-raised-button (click)="deleteContact()">Delete</button>
  </mat-card-actions>
</mat-card>